<h1>DVD Library</h1>
<p>Currently at <%= @movie_count %> movies! View only <%= link_to "Christopher's", christopher_path %> or <%= link_to "Stephen's", stephen_path %> movies.
<p><%= link_to 'Add new movie', search_path %>

<p><%= link_to 'Know the IMDb ID?', searchByID_path %>

<%= render 'results' %>
