<!DOCTYPE html>
<html>
<head>
  <title>DVD Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless notice.nil? %>
    <div id=notice>
      <strong><%= notice %></strong>
    </div>
  <% end %>

<%= yield %>
<hr>
<%= link_to 'Home', root_path %>

</body>
</html>
